[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[user]
	name = Michiel
	email = michiel@thinkingmike.com
[color]
	ui = auto
[url "git@github.com:"]
#	insteadOf = https://github.com/
